

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


#app {
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 18px;
  font-size: 30px;
  font-weight: bold;
  color: white;
 

}

.swiper-slide h2{
  font-family: 'Teko';
  color: rgb(255, 29, 29);
  font-size: 3.75rem;
}

.infos{
  margin: 1.35rem 0px;
  text-align: left;
  font-size: 17px;
}

.infos p{
  margin: 0.65rem 0rem;
}





